@model UpdateSizeVM

<div class="container-fluid page-body-wrapper">

    <div class="main-panel">
        <div class="content-wrapper">
            <div class="row">

                <div class="col-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Update Size</h4>
                            <form class="forms-sample" method="post">
                                <div class="form-group">
                                    <label asp-for="Measure">Measure</label>
                                    <input asp-for="Measure" class="form-control" placeholder="Measure" value="@Model.Measure">
                                    <span class="text-danger" asp-validation-for="Measure"></span>
                                </div>
                                <button type="submit" class="btn btn-primary me-2">Update</button>
                                <a asp-action="index" asp-controller="Size" class="btn btn-light">Cancel</a>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:../../partials/_footer.html -->
        <!-- partial -->
    </div>
    <!-- main-panel ends -->
</div>